.bg-body {
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgb(0 0 0) !important;
}
.sidebar-left{
    background: url('/assets/admin/media/auth/bg-form.jpg');
    background-size: cover;
    border-radius: 20px 0 0 20px;
}
.sidebar-right{
    background: #151515;
    border-radius: 0 20px 20px 0;
}
.dropdown.show>.form-control.form-control-solid, .form-control.form-control-solid.active, .form-control.form-control-solid.focus, .form-control.form-control-solid:active, .form-control.form-control-solid:focus {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: #ffffff;
    transition: color .2s ease, background-color .2s ease;
}
.dropdown.show>.form-control.form-control-solid, .form-control.form-control-solid.active, .form-control.form-control-solid.focus, .form-control.form-control-solid:active, .form-control.form-control-solid:focus {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: #ffffff;
    transition: color .2s ease, background-color .2s ease;
}
.form-control.form-control-solid {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: #5e6278;
    transition: color .2s ease, background-color .2s ease;
}
